html, body, #root {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.App {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #76b852, #8dc26f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #76b852, #8dc26f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

#top-left-suite {
  margin: 0px;
  pading: 0px;
  background: red;
  width: auto;
}

#top-left-value {
  margin: 0px;
  pading: 0px;
  background: blue;
}

#bottom-right-suite {
  margin: 0px;
  pading: 0px;
  background: yellow;
}

#bottom-right-value {
  margin: 0px;
  pading: 0px;
  background: purple;
}
