.button-modal-container {
  text-align: center;
  position: relative;
  height: 500px;
}


.icon {
  width: 50px;
  height: 50px;
  margin-top: 1%;
  margin: 5px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  position: relative;
}


.icon:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: 0.3s;
}

#header-and-body {
  background: white;
  z-index: 1;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  top: 25%;
  font-family: 'Raleway', sans-serif;
}

#header {
  background: #2d3436;
  color: white;
  height: 30%;
  width: 100%;
  display: table;
}

#header-text {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
}

#body {
  height: 70%;
  background: #dfe6e9;
  position: relative;
}

#body-text {
  padding: 0;
  margin-top: -50px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.5em;
  font-size: 1em;
  position: absolute;
  top: 35%;
}

#close-button {
  border: 2px solid #2d3436;
  width: 20%;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

#close-button-text {
}

#close-button:hover {
  color: #dfe6e9;
  background: #2d3436;
  cursor: pointer;
  transition: 0.3s;
}

.modal-showing {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
}

.modal-hidden {
  display: none;
}

#shuffle-div {
}
