#playing-card {
  background: white;
  width: 143px;
  height: 200px;
  border-radius: 7%;
  margin: 0 auto;
  overflow: hidden;
  position: relative; /* prevents child elements from going outside of itself */
  font-family: 'Oswald', sans-serif;
  top: 100px;
}

#playing-card:hover {
  cursor: pointer;
}

#top-left-suite {
  position: absolute;
	top: 14%;
	left: 4%;
}

#top-left-value {
  position: absolute;
  top: -11%;
  left: 9%;
  font-weight: bold;
  font-size: 1.3em;
}

#bottom-right-suite {
  position: absolute;
	bottom: 14%;
	right: 4%;
  transform: rotate(180deg);
}

#bottom-right-value {
  position: absolute;
  bottom: -11%;
  right: 10%;
  font-weight: bold;
  font-size: 1.3em;
  transform: rotate(180deg);
}

#large-suite {
  position: absolute;
  top: 31%;
  left: 23%;
}

#back-image {
  position: absolute;
  top: 6%;
  left: 6.5%;
  width: 125px;
  height: 175px;
  border: 1px solid black;
}

.red {
  color: red;
}

.black {
  color: black;
}

#back-of-card {

}
