

#display {
  height: inherit;
}

.main-menu {
  text-align: center;
  margin: 0;
}

#title {
  margin: 0;
  text-align: center;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 75px;
  color: white;
  padding-top: 40px;
}

#creators {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 20px;
  color: white;
  padding-bottom: 15px;
}

.button {
  background-color: white;
  width: 250px;
  border: solid black 1px;
  color: black;
  padding: 20px;
  font-family: "Andale Mono", AndaleMono, monospace;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  margin-top: 7px;
}

.button:hover {
  background-color: LightGray;
}

#war-table {
  height: 100%;
  width: 100%;
  text-align: center;
}
