.main-menu {
  text-align: center;
  margin: 0;
}

#title {
  margin: 0;
  text-align: center;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 75px;
  color: white;
  padding-top: 40px;
}

#creators {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 20px;
  color: white;
  padding-bottom: 15px;
}

.button {
  background-color: white;
  width: 250px;
  border: solid black 1px;
  color: black;
  padding: 20px;
  font-family: "Andale Mono", AndaleMono, monospace;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 7px;
  margin-top: 7px;
}

.button:hover {
  background-color: LightGray;
}

#settings-menu {
  text-align: center;
  margin: 0;
}

#settings-title {
  margin: 0;
  text-align: center;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: 50px;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

#card-choices {
  border: solid white 1px;
  border-radius: 7px;
  background: black;
  margin: auto;
  width: 650px;
}

.card-backs {
  width: 143px;
  height: 200px;
  padding: 0;
  border-radius: 7%;
  border: solid gray 1px;
  margin: 0 auto;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}
